/* div {
  margin-bottom: 10px;
}

#div1,
#div3 {
  margin: auto;
  text-align: center;
  border: 3px black dotted;
  font-size: 30px;
  background-color: cadetblue;
  height: 300px;
  width: 300px;
}
#div2 {
  margin: auto;
  text-align: center;
  border: 3px black dotted;
  font-size: 30px;
  background-color: yellow;
  height: 300px;
  width: 300px;
}

#img {
  height: 250px;
  width: 250px;
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
} */

.div1 {
  height: 250px;
  width: 250px;
  border: 5px solid black;
  margin: 50px;
  font-size: xx-large;
  font-weight: bolder;
}

.p1 {
  text-align: center;
  margin-top: 100px;
}
